@tailwind base;
@tailwind components;
@tailwind utilities;

nav ul.pagination{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
}
li.page-item{
    border: 1px solid transparent;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 7px 3px rgb(0 0 0 / 5%), 0px 20px 10px rgb(0 0 0 / 5%), 12px 11px 20px rgb(0 0 0 / 5%);
}
li a.page-link, .page-item.disabled , .page-item.active{
    color: black;
    font-weight: bold;
}
.page-item:hover, 
.page-item.disabled:hover, 
.page-item.active:hover{
    padding: 6px 16px 6px 16px;
    background-color: rgb(219, 219, 219);
}
.page-item.active{
    background-color: #021a418a;
    color: white;
}
.urgent{
    background-color:rgb(231, 0, 0);
    border: 1px solid transparent;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
.high{
    background-color:rgba(252, 4, 4, 0.671);
    border: 1px solid transparent;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
.medium{
    background-color:#dfaa00;
    border: 1px solid transparent;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
.low{
    background-color:rgb(66, 119, 42);
    border: 1px solid transparent;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}